<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough"

      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>上架</title>
        <!--use bootstrap framework -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    </h:head>
    <h:body>
        <div class="container">
            <!-- Content here -->
            <h:form enctype="multipart/form-data">
                <div class="form-group">
                    <h:outputLabel for="college">學院</h:outputLabel>
                    <!-- ToDo: UBA-27. See https://hychen39.atlassian.net/browse/UBA-27 hychen39@SP7 -->

                    <h:selectOneMenu class="custom-select"
                                     id="college"
                                     value="#{bookBean.book.college}"
                                     onchange="submit();"
                                     >
                        <f:selectItem itemLabel="管理學院" itemValue="mcollege" />
                        <!-- <f:selectItem itemLabel="管理學院" itemValue="管理學院" />-->
                        <f:selectItem itemLabel="理工學院" itemValue="soe" />
                        <f:selectItem itemLabel="設計學院" itemValue="dcollege" />
                        <f:selectItem itemLabel="人文暨社會學院" itemValue="humanity" />
                        <f:selectItem itemLabel="資訊學院" itemValue="coinfo" />
                        <f:selectItem itemLabel="通識教育" itemValue="ge" />
                    </h:selectOneMenu>
                </div>
                <div class="form-group">
                    <h:outputLabel for="department">學系</h:outputLabel>
                    <h:selectOneMenu class="custom-select"
                                     value="#{bookBean.book.major}"
                                     >
                        <f:selectItems value="#{addBookBean.findDepartments(bookBean.book.college)}"/>
                    </h:selectOneMenu>
                    <!--<h:inputText class="form-control"
                                 id="department"
                                 value="#{bookBean.book.major}"/>
                    -->
                </div>
                <div class="form-group">
                    <h:outputLabel for="teacher">任課教師</h:outputLabel>
                    <h:inputText class="form-control"
                                 id="teacher"
                                 value="#{bookBean.book.teacherName}"/>
                </div>
                <!--Done: 賣家學號 用系統自動預設, 不需要輸入. @hychen39, sp5 -->
                <div id="seller_id" class="form-group">
                    <h:outputLabel for="sellerID">賣家學號</h:outputLabel>
                    <h:inputText class="form-control"
                                 id="sellerID"
                                 value="#{bookBean.book.sellerID}"/>
                </div>
                <div class="form-group">
                    <h:outputLabel for="book_title">書名</h:outputLabel>
                    <h:inputText class="form-control"
                                 id="book_title"
                                 value="#{bookBean.book.bookName}"/>
                </div>

                <div class="form-group">
                    <h:outputLabel for="isbn">ISBN</h:outputLabel>
                    <h:inputText class="form-control"
                                 id="isbn" ps:placeholder="長度13碼"
                                 value="#{bookBean.book.isbn}">
                    </h:inputText>
                    <h:message for="isbn"/>
                    <!--
                    validatorMessage="ISBN碼長度不足13碼"
                    <f:validateLength minimum="13" maximum="13"/>
                    -->
                </div>

                <div class="form-group">
                    <h:outputLabel for="sell_price">售價</h:outputLabel>
                    <h:inputText class="form-control"
                                 id="sell_price"
                                 ps:placeholder="0~9999"
                                 validatorMessage="售價應介於0~9999"
                                 value="#{bookBean.book.sellPrice}">
                        <f:validateLongRange minimum="0" maximum="9999"/>
                    </h:inputText>
                    <h:message for="sell_price"/>
                </div>

                <div class="form-group">
                    <h:outputLabel for="book_status"> 書況 (未套用 Bootstrap CSS) </h:outputLabel>
                    <h:selectOneRadio value="#{bookBean.book.status}" id="book_status">
                        <f:selectItem itemLabel="A 級" itemValue="A" />
                        <f:selectItem itemLabel="B 級" itemValue="B" />
                        <f:selectItem itemLabel="C 級" itemValue="C" />
                    </h:selectOneRadio>
                </div>
                <div class="form-group">
                    <h:outputLabel for="feature_img">特色圖片</h:outputLabel>
                        <p:fileUpload 
                            listener="#{bookBean.uploadFileBean.handleFileUpload}" 
                            mode="advanced"
                            update="uploaded_image"
                            auto="true" />
                </div>
                <div class="form-group">
                    <h:graphicImage id="uploaded_image" styleClass="img-thumbnail"
                                    value="#{bookBean.uploadFileBean.image}"
                                    />
                </div>

                <h:commandButton class="btn btn-primary"
                                 value="Submit"
                                 action="#{bookBean.addSellingBook}"
                                 >
                </h:commandButton>
            </h:form>
        </div>

        <!--bootstrap js libraries-->
        <!--Done: Use the jQuery in the Primeface  @hychen39, sp4 -->
        <h:outputScript library="primefaces" name="jquery/jquery.js" />

        <!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </h:body>
</html>