<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="resources/css/member.css"/>
        <title>會員專區</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <!--Done: template 的 檔案名稱錯誤 @hychen39, sp4-->
        <ui:composition template="/templates/masterTemplate.xhtml">
            <!--Done: 忘記使用 ui:define  去定義 name=content 區域的內容, 所以導致沒有顯示任何的文字  @hychen39, sp4 -->
            <ui:define name="content">
                <ui:decorate template="/templates/memberAreaLayout.xhtml">
                    <ui:define name="member_content">
                        <!--Done: 學號改成動態資料. @hychen39, sp4 -->
                        <!--Fixme: 顯示登入的 userID @hychen39, sp5 -->
                        <h3>"#{orderBean.studentID}"</h3>
                        <hr/>
                        <!--Done: dataTable 的樣式未設定. 可參考 https://mkyong.com/jsf2/jsf-2-datatable-example/  @hychen39, sp5 ; @10635105 已修改-->
                        <h:dataTable class="table table-hover" value="#{orderBean.findOrdersById()}" var="o">
                            <!--Done: 需改成動態資料. {} 表示動態資料  @hychen39, sp4 -->

                            <h:column>
                                <f:facet class="thead-dark" name="header">訂單編號</f:facet>
                                #{o.id}
                            </h:column>
                            <h:column>
                                <f:facet class="thead-dark" name="header">交易日期</f:facet>
                                    #{o.txnDate}
                            </h:column>
                            <h:column>
                                <f:facet class="thead-dark" name="header">金額</f:facet>
                                #{o.amount}
                            </h:column>
                            <h:column>
                                <f:facet class="thead-dark" name="header">書本編號</f:facet>
                                #{o.bookID}
                            </h:column>
                            <h:column>
                                <f:facet class="thead-dark" name="header">賣家編號</f:facet>
                                #{o.sellerID}
                            </h:column>
                            <h:column>
                                <f:facet class="thead-dark" name="header">訂單狀態</f:facet>
                                #{o.orderStatus}
                            </h:column>
                        </h:dataTable>

                    </ui:define>
                </ui:decorate>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
