<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jsf="http://xmlns.jcp.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    </h:head>
    <h:body>
        <ui:composition template="/templates/masterTemplate.xhtml">
            <ui:param name="pageTitle" value="朝陽二手書拍賣" />
            <ui:define name="content">
                <div class="ui-g" jsf:id="book_form">
                    <ui:repeat value="#{indexBean.findAllSellingBook()}"
                               var="book">
                        <div class="ui-g-12 ui-md-4">
                            <p:panel header="#{book.college}-#{book.major}">
                                <!--<h:panelGrid columnClasses="ui-g-12">-->
                                <div align="center">
                                    <p:graphicImage url="http://via.placeholder.com/80"/> 
                                    <p>#{book.bookName}</p>
                                    <p><h:outputText value="#{book.sellPrice}">
                                            <f:convertNumber type="currency" currencyCode="TWD" />
                                        </h:outputText> </p>
                                    <p>#{book.sellerID}</p>
                                    <h:form>
                                        <p:commandButton action="#{indexBean.showBookDetailDialog(book.id)}" icon="fas fa-search" >
                                            <p:ajax event="dialogReturn" update="book_form"/>
                                        </p:commandButton>
                                    </h:form>
                                </div>
                                <!--</h:panelGrid>-->
                            </p:panel>
                        </div>
                    </ui:repeat>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

