<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
              <p>
                  <h:link outcome="/displayBooks" styleClass="btn btn-primary">二手書</h:link>
                  <!--<a class="btn btn-primary" data-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample">二手書</a>-->
                <a class="btn btn-primary" data-toggle="collapses" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">物品</a>
                <a class="btn btn-primary" data-toggle="collapsess" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">共享</a>
                <a class="btn btn-primary" data-toggle="collapsesss" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">我的商品</a>
                <a class="btn btn-primary" data-toggle="collapsesss" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">尋書</a>
                </p>
        </ui:composition>
    </h:body>
</html>

