<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <div class="navbar navbar-expand-sm bg-dark navbar-dark">
                <div class="container-fluid p-0">
                    <!--FIXME: 網站 LOGO 尚未決定. SP3-->
                    <h:link class="navbar-brand" outcome="/index">LOGO</h:link>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#form">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse col-sm-11" id="form">
                        <form class="form-inline navbar-nav col-sm-12 p-0">
                            <p:selectOneMenu class="my-1 ml-sm-2">
                                <f:selectItem itemLabel="ISBN" itemValue="isbn" />
                                <f:selectItem itemLabel="書名" itemValue="bookName" />
                                <f:selectItem itemLabel="作者" itemValue="3" />
                            </p:selectOneMenu>
                            <!--ToDo: Input Value 的 Value Binding 未實作. hychen39 @ sp9 review-->
                            <input type="search" class="form-control my-1 mr-sm-2 col-sm-8 col-md-9"/>
                            <!--ToDo: 執行搜尋按鈕尚未實作 hychen39 @ sp9 review-->
                            <button class="fas fa-search btn btn-outline-primary my-2 my-sm-0" type="submit"></button>
                            <div id="user-info">
                                <h:link outcome="/authen/login" class="btn btn-outline-success my-1 ml-sm-2">註冊/登入</h:link>
                                <h:link outcome="/member/member" class="btn btn-outline-success my-1 ml-sm-2">會員專區</h:link>
                                <h:link outcome="/member/member" class="btn btn-outline-success my-1 ml-sm-2">收藏<i class="far fa-heart"/></h:link>
                                <span class="btn btn-outline-success my-1 ml-sm-2">  
                                     #{loginBean.username} <i class="far fa-user"></i>
                                </span>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="btn-group col px-0">
                <div class="btn-group col px-0">
                    <button type="button" 
                            class="btn btn-primary dropdown-toggle" 
                            data-toggle="dropdown">
                        二手書
                    </button>
                    <div class="dropdown-menu w-500">
                        <!--Done: 二手書項目下拉後會有各學院, 學院下有各系. 此功能獨立成一個新的 User Story. SP3 @s10635105-->
                        <table>
                            <td valign="top">
                                <a class="dropdown-item" href="#">管理學院</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">財務金融系</a>
                                <a class="dropdown-item" href="#">企業管理系</a>
                                <a class="dropdown-item" href="#">保險金融管理系</a>
                                <a class="dropdown-item" href="#">休閒事業管理系</a>
                                <a class="dropdown-item" href="#">行銷與流通管理系所</a>
                                <a class="dropdown-item" href="#">銀髮產業管理系</a>
                            </td>
                            <td valign="top">
                                <a class="dropdown-item" href="#">理工學院</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">營建工程系</a>
                                <a class="dropdown-item" href="#">工業工程與管理系</a>
                                <a class="dropdown-item" href="#">應用化學系</a>
                                <a class="dropdown-item" href="#">環境工程與管理系</a>
                                <a class="dropdown-item" href="#">航空機械系</a>
                            </td>
                            <td valign="top">
                                <a class="dropdown-item" href="#">設計學院</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">建築系</a>
                                <a class="dropdown-item" href="#">工業設計系</a>
                                <a class="dropdown-item" href="#">視覺傳達設計系</a>
                                <a class="dropdown-item" href="#">景觀及都市設計系</a>
                            </td>
                            <td valign="top">
                                <a class="dropdown-item" href="#">人文暨社會學院</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">傳播藝術系</a>
                                <a class="dropdown-item" href="#">應用英語系</a>
                                <a class="dropdown-item" href="#">幼兒保育系</a>
                                <a class="dropdown-item" href="#">社會工作系</a>    
                            </td>
                            <td valign="top">
                                <a class="dropdown-item" href="#">資訊學院</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">資訊管理系</a>
                                <a class="dropdown-item" href="#">資訊工程系</a>
                                <a class="dropdown-item" href="#">資訊與通訊系</a>
                            </td>
                            <td>
                                <a class="dropdown-item" href="#">通識教育</a>
                            </td>
                        </table>
                    </div>
                </div>
                <div class="btn-group col px-0">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">物品</button>
                    <div class="dropdown-menu w-100">
                        <a class="dropdown-item" href="#">Tablet</a>
                        <a class="dropdown-item" href="#">Smartphone</a>
                    </div>
                </div>
                <div class="btn-group col px-0">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">共享</button>
                    <div class="dropdown-menu w-100">
                        <a class="dropdown-item" href="#">Tablet</a>
                        <a class="dropdown-item" href="#">Smartphone</a>
                    </div>
                </div>
                <div class="btn-group col px-0">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">我的商品</button>
                    <div class="dropdown-menu w-100">
                        <a class="dropdown-item" href="#">Tablet</a>
                        <a class="dropdown-item" href="#">Smartphone</a>
                    </div>
                </div>
                <div class="btn-group col px-0">
                    <h:link class="btn btn-primary" outcome="/member/searchBook">尋書</h:link>
                </div>
            </div>
        </ui:composition>
    </h:body>
</html>

