<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <div class="row">
                <div class="col-md-3 border-right" align="center">
                    <ul class="list-group">
                        <h1>會員專區</h1>
                        <!--Done Note. 已設定 outcome 屬性, 套用 text-primary class, 方便區別.
                            @hychen39, Sp4.
                        -->
                        <h:link id="account_basic"
                            class="list-group-item list-group-item-action text-primary"
                            outcome="personalData">
                            基本資料
                        </h:link>
                        <h:link class="list-group-item list-group-item-action">我的收藏</h:link>
                        <!--Done: 加入購買記錄的連結 @hychen39, sp4-->
                        <h:link class="list-group-item list-group-item-action text-primary"
                                outcome="orders">
                            購買紀錄
                        </h:link>
                        <br/>
                        <h:link 
                            class="list-group-item list-group-item-action">
                            銷售紀錄</h:link>
                        <h:link class="list-group-item list-group-item-action text-primary" outcome="member">我的商品</h:link>
                        <br/>
                        <h:link class="list-group-item list-group-item-action">我的筆記</h:link>
                    </ul>
                </div>
                <div class="col-md-9">
                    <ui:insert name="member_content">
                    </ui:insert>
                </div>
            </div>
        </ui:composition>
    </h:body>
</html>

