<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>

    </h:head>
    <h:body>
        <ui:composition template="/templates/masterLayout.xhtml">
            <ui:define name="content">
                <div class="row">
                    <div class="col-12">
                        <h1>註冊</h1>
                        <h:form>
                            <div class="form-group">
                                <h:outputLabel>朝陽信箱</h:outputLabel>
                                <h:inputText class="form-control"
                                             value="#{userBean.user.mail}"/>
                            </div>

                            <div class="form-group">
                                <h:outputLabel>密碼</h:outputLabel>
                                <h:inputText class="form-control"
                                             value="#{userBean.user.password}"/>
                            </div>

                            <div class="form-group">
                                <h:outputLabel>確認密碼</h:outputLabel>
                                <h:inputText class="form-control"
                                             value="#{userBean.user.passwordConfirm}"/>
                            </div>

                            <h:commandButton class="btn btn-primary"
                                             value="註冊"
                                             action="#{userBean.execJoin()}">
                                <f:setPropertyActionListener target="#{userBean.joinStatus}" value="true"/>
                            </h:commandButton>
                            <p>已經有帳號了？<h:link outcome="login">登入</h:link></p>
                            <h:outputText value="Join Status: #{userBean.joinStatus? 'Success':'failure'}"/>
                        </h:form>
                    </div>
                </div>
                        </ui:define>
                        </ui:composition>

                        </h:body>
                        </html>

