<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
    </h:head>
    <h:body>
        <ui:composition template="/templates/masterLayout.xhtml">
            <ui:define name="content">
                <div class="row">
                    <div class="col-12">

                        <h:form>
                            <h1>登入</h1>
                            <div class="form-group">
                                <h:outputLabel>Email</h:outputLabel>
                                <h:inputText class="form-control"
                                             value="#{userBean.user.mail}"/>
                            </div>

                            <div class="form-group">
                                <h:outputLabel>密碼</h:outputLabel>
                                <h:inputText class="form-control"
                                             value="#{userBean.user.password}"/>
                            </div>

                            <h:commandButton class="btn btn-primary"
                                             action="#{userBean.execLogin()}"
                                             value="登入"/>

                            <p>第一次使用？<h:link outcome="join">註冊</h:link></p>

                            <h:outputText value="Join Status: #{userBean.joinStatus? 'Success':'failure'}"/>
                        </h:form>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

