<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough"
      >
<h:head>
        <title>訓練課程 6 表單驗證</title>
        <!--use bootstrap framework -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    </h:head>
    <h:body>
        <!--Done: 使用 /member/addBook.xhtml. 此頁面沒有使用. 尚未套用樣版 SP3-->
        <div class="container">
            <h1>#{param['dialog-title']}</h1>
            <p>#{param['dialog-message']}</p>
            <a href="#"> 訓練課程 6 教學文件</a>
            <!-- Content here -->
            <h:form>
                <h2>課程資料</h2>
                <div class="form-group">
                    <h:outputLabel for="college">學院</h:outputLabel>
                    <h:inputText class="form-control"
                                 id="college"
                                 value="#{bookBean.book.college}"/>
                </div>
                <div class="form-group">
                    <h:outputLabel for="department">科系</h:outputLabel>
                    <h:inputText class="form-control"
                                 id="department"
                                 value="#{bookBean.book.major}"/>
                </div>
                <div class="form-group">
                    <h:outputLabel for="teacher">任課教師</h:outputLabel>
                    <h:inputText class="form-control"
                                 id="teacher"
                                 value="#{bookBean.book.teacherName}"/>
                </div>
                <h2>書藉資料</h2>
                <div class="form-group">
                    <h:outputLabel for="book_title">書名</h:outputLabel>
                    <h:inputText class="form-control"
                                 id="book_title"
                                 value="#{bookBean.book.bookName}"/>
                </div>
                
                <div class="form-group">
                    <h:outputLabel for="isbn">ISBN</h:outputLabel>
                    <h:inputText class="form-control"
                                 id="isbn" ps:placeholder="長度13碼"
                                 validatorMessage="ISBN碼長度不足13碼"
                                 value="#{bookBean.book.isbn}">
                        <f:validateLength minimum="13" maximum="13"/>
                    </h:inputText>
                    <h:message for="isbn"/>
                </div>
                
                <div class="form-group">
                    <h:outputLabel for="sell_price">售價</h:outputLabel>
                    <h:inputText class="form-control"
                                 id="sell_price"
                                 ps:placeholder="0~9999"
                                 validatorMessage="售價應介於0~9999"
                                 value="#{bookBean.book.sellPrice}">
                        <f:validateLongRange minimum="0" maximum="9999"/>
                    </h:inputText>
                    <h:message for="sell_price"/>
                </div>
                
                書況 (未套用 Bootstrap CSS)
                <h:selectOneRadio value="#{bookBean.book.status}">
                   <f:selectItem itemLabel="A 級" itemValue="A" />
                   <f:selectItem itemLabel="B 級" itemValue="B" />
                   <f:selectItem itemLabel="C 級" itemValue="C" />
                </h:selectOneRadio>

                <h:commandButton class="btn btn-primary"
                                 value="Submit"
                                 action="#{bookBean.sendToRepository}"
                                 >
                </h:commandButton>
            </h:form>
        </div>
        
        <!--bootstrap js libraries-->
        <!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </h:body>
</html>