<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ps="http://xmlns.jcp.org/jsf/passthrough"     
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>修改密碼</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    </h:head>
    <h:body>
        <div class="container">
            <!-- Content here -->
            <h:form>
                <div class="form-group">
                    <h:outputLabel for="defpwd">原密碼</h:outputLabel>
                    <h:inputText class="form-control"
                                 id="defpwd"
                                 value="{dsiu9v7guhsu}"/>
                </div>
                <div class="form-group">
                    <h:outputLabel for="newpwd">新密碼</h:outputLabel>
                    <p:password class="form-control" 
                                id="newpwd" 
                                value="a123456"
                                match="surepwd"
                                validatorMessage="新密碼及確認新密碼不一致"
                                required="true"
                                requiredMessage="請輸入新密碼"
                                >
                    </p:password>
                    <h:message for="surepwd" style="color:red" />
                </div>
                <div class="form-group">
                    <h:outputLabel for="surepwd">確認新密碼</h:outputLabel>
                    <p:password class="form-control" 
                                id="surepwd" 
                                value="a123456"
                                ps:placeholder="再次輸入新密碼"
                                required="true"
                                requiredMessage="請輸入新密碼"
                                >
                    </p:password>
                    <h:message for="newpwd" style="color:red" />
                </div>
                <h:commandButton class="btn btn-primary" value="儲存" action="#{personalDataBean.exitChangePasswordDialog()}" ></h:commandButton>
            </h:form>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </h:body>
</html>

