<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta charset="utf-8"/>
        <title>商品頁</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
        <!--Done: Note: 使用 viewParam 取得請求參數, 並將之放到 orderBean 的某個 property 中. -->
        <!--<f:metadata>
            <f:viewParam name="book-id" value="" />
        </f:metadata> -->
    </h:head>
    <h:body>
        <!--<ui:composition template="/templates/masterTemplate.xhtml">-->
        <!--<ui:param name="pageTitle" value="書本顯示頁面" /> 不使用 template, 就不需要 hychen39@sp7-->
        <div class="container">
            <!--Note: 併入建榮 SP3 的成果-->
            <!--<div class="row">-->
            <h:form>
                <!--                    <div class="col">-->
                <div class="card mb-3" style="width: 50em; padding:20px;">
                    <div class="row no-gutters">
                        <div id="book_photo_carousel" class="col-md-4">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner" >
                                    <!--ToDo: 要放書本的動態圖片 hychen39@sp7 -->
                                    <div class="carousel-item active">
                                        <img src="http://via.placeholder.com/80" class="card-img" alt="..." ></img>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="http://via.placeholder.com/80" class="card-img" alt="..." ></img>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="http://via.placeholder.com/80" class="card-img" alt="..." ></img>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div id="other_photo_thumbs" class="row" style="padding-top:10px; padding-right: 20px">
                                <div id="first_thumb" class="col-md-4">
                                    <img  src="http://via.placeholder.com/80" class="" alt="..." ></img>
                                </div>
                                <div id="second_thumb" class="col-md-4">
                                    <img  src="http://via.placeholder.com/80" class="" alt="..." ></img>
                                </div>
                                <div id="third_thumb" class="col-md-4">
                                    <img src="http://via.placeholder.com/80" class="" alt="..." ></img>
                                </div>
                            </div>
                            <div class="row" style="margin: 1em;">
                                <div class="col-md-6">

                                    <p:commandButton onclick="PF('cd').show()"
                                                     class="btn btn-primary p-0" value="購買" />
                                    <p:confirmDialog message="確認購買? #{param['book-name']}"
                                                     severity="alert" widgetVar="cd"
                                                     responsive="true">
                                        <!-- Mark 3 -->
                                        <!--Done: Note 這裡無法再使用 params 物件, 因為先前的 request 已結束. hychen39@sp7-->
                                        <p:commandButton value="確認" action="#{orderBean.buyerClickDeal}"
                                                         oncomplete="PF('cd').hide()">
                                            <f:param name="book-id" value="#{param['book-id']}"/>
                                        </p:commandButton>
                                        <p:commandButton value="取消" onclick="PF('cd').hide();" type="button" />
                                    </p:confirmDialog>


                                </div>
                                <div class="col-md-6" >
                                    <p:commandButton class="btn btn-primary p-0" value="聊天" />
                                </div>
                            </div>           
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <!--Note: Dynamic Content-->
                                <h5 class="card-title">書名：#{param['book-name']}</h5>
                                <p class="card-text">Book ID：#{param['book-id']}</p>

                                <p class="card-text">售價：#{param['book-price']}</p>
                                <p class="card-text">學院：#{param['book-college']}</p>
                                <p class="card-text">科系：#{param['book-major']}</p> 
                                <p class="card-text">任課教師：#{param['teacherName']}</p>
                                <p class="card-text">ISBN：#{param['book-isbn']}</p>
                                <p class="card-text">書況: #{param['book-status']}</p>
                                <p class="card-text">賣家：#{param['book-sellerID']}</p>
                                <p class="card-text">備註：#{param['book-note']}</p>
                                <p class="card-text"><small class="text-muted">2020/1/11 更新</small></p>
                            </div>
                        </div>
                    </div>
                <!--</div>-->
                </div>
            </h:form>
            <!--</div>-->
        </div>
        <!--</ui:composition>-->
    </h:body>
</html>

