<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/masterLayout.xhtml">
            <ui:define name="content">
                <ui:decorate template="/templates/memberAreaLayout.xhtml">
                    <ui:define name="member_content">
                        <h:graphicImage url="https://i.imgur.com/JOpUXAg.jpg" />
                        <br />
                        購買確認頁面, 參考: <a href="https://hackmd.io/@pvDWyGHpTZ6rwNP060hlbw/HyXlC45rL#Story-and-UI">
                            Step 4 in US04 買家使用一鍵購買，完成書本購買
                        </a>
                        請把此圖改用 facelets + html + css 做出來
                        <h:form>
                            <h:commandButton value="取消" action="#"
                                             styleClass="btn btn-secondary"/>
                            <h:commandButton value="確認" action="/member/buySuccess"
                                             styleClass="btn btn-primary"/>
                        </h:form>
                    </ui:define>
                </ui:decorate>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

