<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head> </h:head>
    <h:body>
        <ui:composition template="/templates/masterLayout.xhtml">
            <ui:define name="content">
                <ui:decorate template="/templates/memberAreaLayout.xhtml">
                    <ui:define name="member_content">
                        <div class="col-md-9">
                            List of books has been bought.
                        </div>
                    </ui:define>
                </ui:decorate>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
