<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="resources/css/member.css"/>
        <title>會員專區</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <ui:composition template="/templates/masterLayout.xhtml">

            <ui:decorate template="/templates/memberAreaLayout.xhtml">
                <ui:define name="member_content">
                    <h3>s10614001的購買紀錄</h3>
                    <hr/>
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">訂單編號</th>
                                <th scope="col">日期</th>
                                <th scope="col">商品</th>
                                <th scope="col">金額</th>
                                <th scope="col">賣家</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><a href="#">Book ID to book detail </a></th>
                                <td>2020/03/17 06:34:18</td>
                                <td>#{bookBuyingBean.book.bookName}</td>
                                <td>#{bookBuyingBean.book.sellPrice}</td>
                                <td>s10614002</td>
                            </tr>
                        </tbody>
                    </table>
                </ui:define>
            </ui:decorate>
        </ui:composition>
    </h:body>
</html>
