<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <div class="row">
                <div class="col-md-3 border-right" align="center">
                        <h1>會員專區</h1>
                        ToDo: 改成使用 bootstrap 樣式 (2020/4/7 @hychen39)
                        <h:link class="menuItem">基本資料</h:link> <br/>
                        <h:link class="menuItem">我的收藏</h:link> <br/>
                        <h:link class="menuItem" outcome="orders">購買紀錄</h:link> <br/>
                        <hr/>
                        <h:link class="menuItem">銷售紀錄</h:link>
                        <h:link class="menuItem">我的商品</h:link>
                        <hr/>
                        <h:link class="menuItem">我的筆記</h:link>
                        <h:link outcome="addBook">新增書本</h:link>
                    </div>
                <div class="col-md-9">
                    <ui:insert name="member_content">
                    </ui:insert>
                </div>
            </div>
        </ui:composition>
    </h:body>
</html>

