/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020年3月7日, 下午12:32:54
    Author     : yaosiyu
*/
.menuItem {
    display: block;
}

#sellingBlock, #checkingBlock{
    height: 400px
}
