/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020年3月17日, 上午6:17:25
    Author     : USER
*/
header {
  background-color: #FAFAFA;
  width: 100%;
  padding: 1px;
  text-align: center;
  font-size: 0px;
}
data {
  float: left;
  width: 100%;
  height: 400px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 30px;
}