<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="utf-8"/>
        <title>商品頁</title>
    </h:head>
    <h:body>
        <ui:composition template="/templates/masterLayout.xhtml">
            <ui:param name="pageTitle" value="書本顯示頁面" />
            <ui:define name="content">
                <div class="container">
                    <div class="row">
                        <h:form>
                            <div class="col">
                                <div class="card mb-3" style="width: 50em; padding:20px;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                                </ol>
                                                <div class="carousel-inner" >
                                                    <div class="carousel-item active">
                                                        <img src="http://via.placeholder.com/80" class="card-img" alt="..." ></img>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="http://via.placeholder.com/80" class="card-img" alt="..." ></img>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="http://via.placeholder.com/80" class="card-img" alt="..." ></img>
                                                    </div>
                                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row" style="padding-top:10px; padding-right: 20px">
                                                <div class="col-md-4">
                                                    <img src="http://via.placeholder.com/80" class="" alt="..." ></img>
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="http://via.placeholder.com/80" class="" alt="..." ></img>
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="http://via.placeholder.com/80" class="" alt="..." ></img>
                                                </div>
                                            </div>
                                            <div class="row" style="margin: 1em;">
                                                <div class="col-md-6">
                                                        <h:commandButton action="/member/confirmation?faces-redirect=true"
                                                             styleClass="btn btn-primary" value="購買" />
                                                </div>
                                                <div class="col-md-6" >
                                                    <h:commandButton action="/member/confirmation?faces-redirect=true"
                                                             styleClass="btn btn-primary" value="聊天" />
                                                </div>
                                            </div>           
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">書名：微積分</h5>
                                                <p class="card-text">售價：150元</p>
                                                <p class="card-text">學院：資訊學院</p>
                                                <p class="card-text">科系：資管系</p> 
                                                <p class="card-text">任課教師：李朱慧</p>
                                                <p class="card-text">ISBN：9789866637605</p>
                                                <p class="card-text">書況: 佳</p>
                                                <p class="card-text">賣家：10611111</p>
                                                <p class="card-text">備註：二手書有正常使用筆記痕跡，不介意再下標</p>
                                                <p class="card-text"><small class="text-muted">2020/1/11 更新</small></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </h:form>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

