<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head></h:head>
    <h:body>
        <ui:composition template="/templates/masterLayout.xhtml">
            <ui:define name="content">    
                <div class="row">
                    <div class="col-12">
                        <div class="collapse" id="collapseExample">
                            <ul>
                                <button type="button" class="btn btn-outline-info btn-sm">管理</button>
                                <button type="button" class="btn btn-outline-info btn-sm">理工</button>
                                <button type="button" class="btn btn-outline-info btn-sm">設計</button>
                                <button type="button" class="btn btn-outline-info btn-sm">人文</button>
                                <button type="button" class="btn btn-outline-info btn-sm">通識</button>
                            </ul>
                        </div>
                        <data>

                        </data>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </h:body>

</html>
