<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <header>
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <div class="container-4">
                                <nav class="navbar navbar-light bg-light">
                                    <a class="navbar-brand"><img src="imges/log.jpg" class="rounded float-left" alt="LOGO"/></a>
                                    <form class="form-inline">
                                        <h:inputText class="form-control mr-sm-2" value="#{indexBean.userSearchKeyBook}"/>
                                        <h:commandButton
                                            class="btn btn-outline-success my-2 my-sm-0"
                                            type="submit"
                                            action="#{indexBean.findUserSearchKeyBooks()}">
                                        </h:commandButton>
                                        <h:link outcome="/member/member.xhtml" class="btn btn-primary btn-sm">會員專區</h:link>
                                        <h:link outcome="/authen/login" class="btn btn-primary btn-sm">登入/註冊</h:link>
                                        <a class="btn btn-primary btn-sm" href="#" role="button">收藏</a>
                                    </form>
                                </nav>  
                            </div>            
                        </div>  
                    </div>
                </div>
            </header>
        </ui:composition>
    </h:body>
</html>

