<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <h:head> </h:head>
    <h:body>
        <ui:composition template="/templates/masterTemplate.xhtml">
            <ui:define name="content">
                <ui:decorate template="/templates/memberAreaLayout.xhtml">
                    <ui:define name="member_content">
                        <h3>銷售中</h3>
                        <h:form id="selling_form">
                            <p:commandButton value="新增書本" action="#{personalDataBean.showAddBookDialog()}">
                                <!--Done: Note: 攔截 dialogReturn ajax event, 更新 id 為 book_list 的元件 -->
                                <p:ajax event="dialogReturn" update="@form" />
                            </p:commandButton>


                            <!-- Done: 這個頁面要分成 2 區? 已售出及未售出? @hychen39 sp5 , @s10635105分成銷售中,交易中-->
                            <!-- Done: Note: 使用 h:table 顯示資料 @hychen39 sp4-->
                            <!-- Done: 不使用 table 方式顯示書本資料, 而是使用 Card 的方式. @hychen39, sp5-->
                            <!-- ToDo: (US01-1) 使用 Card 的方式顯示 "我的商品" 頁面中書面的資料. 需改成動態資料 @hychen39, sp5 -->
                            <div jsf:id="book_list" > 
                                <ui:repeat value="#{bookBean.findSellingBookToMP()}" var="book" >
                                    <a href="#">
                                        <div class="card m-3 d-inline-block" style="width:10.5rem;">
                                            <!--ToDo: 書本圖片要改成動態資料 圖片改用 Base64 儲存 hychen39@SP7 -->
                                            <img class="card-img-top" src="http://via.placeholder.com/80" alt="Card image cap"/>
                                            <div class="card-body">
                                                <h5 class="card-title text-center">#{book.bookName}</h5>
                                                <h6 class="text-center">售價:#{book.sellPrice}</h6>
                                                <!-- Done: 為何用 Button 顯示書本的狀態? 買書的動作在那裡執行呢? @hychen39, sp5
                                                     改使用 button 切換書本狀態, 控制是否要顯示在刊登區中
                                                -->
                                            </div>
                                        </div>
                                    </a>
                                </ui:repeat>
                            </div>
                        </h:form>
                        <hr/>
                        <h3>交易中</h3>
                        <h:form id="checking_form">
                            <div jsf:id="book_list">
                                <ui:repeat value="#{bookBean.findCheckingBookToMP()}" var="book">
                                    <div class="card m-3 d-inline-block" style="width:10.5rem;">
                                        <!--ToDo: 書本圖片要改成動態資料 圖片改用 Base64 儲存 hychen39@SP7 -->
                                        <img class="card-img-top" src="http://via.placeholder.com/80" alt="Card image cap"/>
                                        <div class="card-body">
                                            <h5 class="card-title text-center">#{book.bookName}</h5>
                                            <h6 class="text-center">售價:#{book.sellPrice}</h6>
                                            <!-- Done: 為何用 Button 顯示書本的狀態? 買書的動作在那裡執行呢? @hychen39, sp5
                                                 改使用 button 切換書本狀態, 控制是否要顯示在刊登區中
                                            -->
                                            <div class="row">
                                                <p:commandButton class="col-6 m-0 p-0" value="已出售" style="font-size:9pt" action="#{bookBean.sellerClickSold(book.id)}" actionListener="#{orderBean.sellerClickSold(book.id)}" update="checking_form:book_list"/>
                                                <p:commandButton class="col-6 m-0 p-0" value="重新上架" style="font-size:9pt" action="#{bookBean.sellerClickRelist(book.id)}" actionListener="#{orderBean.sellerClickRelist(book.id)}" update="selling_form:book_list checking_form:book_list"/>
                                            </div>
                                        </div>
                                    </div>
                                </ui:repeat>
                            </div>
                        </h:form>
                    </ui:define>
                </ui:decorate>
            </ui:define>
        </ui:composition>
    </h:body>
</html>