<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="resources/css/member.css"/>
        <title>基本資料</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <h:body>
        <ui:composition template="/templates/masterTemplate.xhtml">
            <ui:define name="content">
                <ui:decorate template="/templates/memberAreaLayout.xhtml">
                    <ui:define name="member_content">
                        <h:form>
                            <h2>基本資料</h2>
                            <div class="form-group">
                                <h:outputLabel for="email">信箱</h:outputLabel>
                                <h:inputText class="form-control-plaintext"
                                             id="email"
                                             readonly="true"
                                             value="s10914111@gm.cyut.edu.tw"/>
                            </div>
                            <!--
                            <div class="form-group">
                                <h:outputLabel for="password">密碼</h:outputLabel>
                                <h:inputText class="form-control is-valid"
                                             id="password"
                                             value= "dsiu9v7guhsu"
                                             readonly = "true" />
                            </div>
                            -->
                            <p:commandButton value="修改密碼"
                                             action="#{personalDataBean.showChangePasswordDialog()}">
                            </p:commandButton>
                        </h:form>

                    </ui:define>
                </ui:decorate>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

