<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    </h:head>
    <h:body>
        <!--ToDo: 未套用樣板 https://hychen39.atlassian.net/browse/UBA-46  sp9.1 @ hychen39 -->
        <!--<ui:composition template="/templates/masterTemplate.xhtml">
            <ui:define name="content">-->
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1>找書</h1>
                    <h:form id="condition" enctype="multipart/form-data">
                        <div class="form-group">
                            <h:outputLabel for="courseName">課程名稱</h:outputLabel>
                            <h:inputText class="form-control"
                                         id="courseName"
                                         value="#{searchBookBean.searchBook.courseName}"/>
                        </div>
                        <div class="form-group">
                            <h:outputLabel for="teacher">教師名稱</h:outputLabel>
                            <h:inputText class="form-control"
                                         id="teacher"
                                         value="#{searchBookBean.searchBook.teacher}"/>
                        </div>
                        <h:commandButton class="btn btn-primary" value="submit" action="#{searchBookBean.addSearchBook()}">
                            <f:ajax execute="@form" render="condition searching"/>
                        </h:commandButton>
                    </h:form>
                </div>
            </div>
            <div class="row">
                <div jsf:id="searching2" class="col-6">
                    <h1>搜尋中</h1>
                    <h:dataTable id="searching" class="table table-hover" value="#{searchBookBean.findSearchingBookById()}" var="s" rendered="true">
                        <h:column>
                            <f:facet class="thead-dark" name="header">編號</f:facet>
                                #{s.id}
                        </h:column>
                        <h:column>
                            <f:facet class="thead-dark" name="header">搜尋時間</f:facet>
                                #{s.searchTime}
                        </h:column>
                        <h:column>
                            <f:facet class="thead-dark" name="header">課程名稱</f:facet>
                                #{s.courseName}
                        </h:column>
                        <h:column>
                            <f:facet class="thead-dark" name="header">教師名稱</f:facet>
                                #{s.teacher}
                        </h:column>
                        <h:column>
                            <f:facet class="thead-dark" name="header">刪除鈕</f:facet>
                            <h:commandButton value="刪除" action="#{searchBookBean.deleteSearchingBook(s)}">
                                <f:ajax execute="@this" render="searching2"/>
                            </h:commandButton>
                        </h:column>
                    </h:dataTable>
                </div>
            </div>
        </div>
        <!--</ui:define>
    </ui:composition>-->
    </h:body>
</html>

